&nbsp;
<!-- table eq_events search -->
<p>
 <a href="?filter=all"[#if FILTER="all"#] style="font-weight: bold"[#endif#]><#LANG_ALL#></a>
 |
 <a href="?filter=strong"[#if FILTER="strong"#] style="font-weight: bold"[#endif#]>Значительные</a>
 |
 <a href="?filter=near"[#if FILTER="near"#] style="font-weight: bold"[#endif#]>Рядом</a>
</p>
<!-- results -->
<div class="dynamic_content" id="eq_list">
[#if RESULT#]
[#PAGINATOR#]
<!-- search results (list) -->
<table  align=center class="table">
 <thead>
 <tr>
  <th>ID</th>
  <th>Регион</th>
  <th>Координаты</th>
  <th>Магнитуда</th>
  <th>Место</th>
  <th><#LANG_ADDED#></th>
  <th>&nbsp;</th>
 </tr>
 </thead>
<tbody>
[#begin RESULT#]
<tr [#if PLACE_ID!="0"#]class="alert-danger"[#endif#]>
 <td><a href="https://seismicportal.eu/eventdetails.html?unid=[#EV_UNID#]" target="_blank">[#EV_UNID#]</a></td>
 <td>[#TITLE#]</b></td>
 <td>
   [#LAT#]:[#LON#]
 </td>
 <td>
   [#MAGNITUDE#]
 </td>
 <td>
  [#if PLACE_ID!="0"#]
   [#PLACE#] ([#DISTANCE#] Km)
  [#endif#]
 </td>
 <td>
   [#ADDED#] / [#DIFF#]
 </td>
 <td width="1%" nowrap>
  <div>
    <a href="?view_mode=delete_eq_events&id=[#ID#]" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-default" title="Delete"><i class="glyphicon glyphicon-remove"></i></a>
  </div>
 </td>
</tr>
[#end RESULT#]
</tbody>
</table>
<!-- / search results (list) -->
<!-- paging -->
[#PAGINATOR#]
<!-- / paging -->
[#else RESULT#]
<p>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULT#]
 <!--/dynamic_content--></div>
<!-- / results -->

